#sidebar {
	display: block;
	position: fixed;
	left: -$sidebar-width;
	top: 0;
	height: 100%;
	width: $sidebar-width;
	padding: $sidebar-padding;

	overflow-x: hidden;
	overflow-y: scroll;
	max-width: 100vw;

	background-color: $gray-dark;
	color: white;

	transition: left .3s ease-out;

	&.open {
		left: 0;
	}

	header {
		margin-top: 3rem;
		text-align: center;

		img.logo {
			width: 4rem;
		}

		h1 {

			small {
				display: block;
				font-size: 1rem;
				padding-top: .4rem;
				color: $gray-light;
			}
		}
	}

	footer {
		display: block;
		text-align: center;
		margin-top: $main-padding;

		ul.external-links {
			font-size: 1.4rem;
			list-style-type: none;
			padding-left: 0;

			li {
				display: inline-block;
				text-align: center;
			}
		}
	}

	header p, footer p {
		font-size: .8rem;
		color: $gray-light;
		font-style: italic;
	}
}

#sidebar-toggle {
	position: fixed;
	top: 0;
	left: 0;
	font-size: 1.3em;
	padding: .2em .5em;
	background-color: $gray-dark;
	border: none;
	color: $brand-primary;
	margin: 0;
	display: block;
}
