h1, h2, h3, h4, h5, h6 {
	margin-bottom: .4em;
	margin-top: .8em;

	.card & {
		margin-top: initial;
		margin-bottom: .4em;
	}

	&:before {
		content: '# ';
		color: $brand-primary;
	}
}

blockquote {
	padding: 1rem 2rem;
	font-style: italic;
	font-size: 1.2em;
	border-left: 2px solid $gray-lighter;
}

pre {
	background-color: $gray-lightest;
	padding: .75em 1em;
	border-left: 3px solid $brand-primary;
	max-height: 40vh;
	overflow: scroll;
}

img.icon {
	height: 1.3em;
}