<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

		<title>{{ page.title }} – {{ site.title }}</title>

		<link href="https://fonts.googleapis.com/css?family=Quicksand:400" rel="stylesheet" />
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
		<link href="{{ site.baseurl }}/assets/css/main.css" rel="stylesheet" />

	</head>

	<body class="{{ page.layout }}">
		<div class="container" id="app">

			{% include sidebar.html %}

			{{ content }}

		</div>
	</body>


	<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=MML_HTMLorMML" async></script>
	<script type="text/javascript" src="https://fabgrid.disqus.com/count.js" id="dsq-count-scr" async></script>
	<script>
		(function() {
			var d = document, s = d.createElement('script');
			s.src = 'https://fabgrid.disqus.com/embed.js';
			s.setAttribute('data-timestamp', +new Date());
			(d.head || d.body).appendChild(s);
		})();
	</script>

	<script type="text/javascript" src="{{ site.baseurl }}/assets/js/bundle.js" async></script>
	<noscript>Please enable JavaScript to view the comments.</noscript>
</html>
