
img {
	&.icon {
		height: 1.3em;
	}

	&.constrain {
		width: auto;
		max-height: 50vh;
		max-width: 100%;
		display: block;
		margin: 0 auto;
	}

	&.small {
		max-height: 30vh;
		max-width: 70%;
	}

	&.shadow {
	    margin: 5% auto;
	    box-shadow: 0 1vh 3vh #999;
	    max-width: 90%;
	    border-radius: 2*$border-radius;
	}
}

iframe.constrain {
	max-height: 50vh;
	max-width: 100%;
	display: block;
	margin: 2em auto;
}

.img-caption {
	padding: .2em;
	color: $gray-light;
	font-style: italic;
	font-size: $font-size-sm;
	display: block;
	text-align: center;
}
