<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

		<title>{{ page.title }} – {{ site.title }}</title>

		<link href="https://fonts.googleapis.com/css?family=Quicksand:400" rel="stylesheet" />
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
		<link href="{{ site.baseurl }}/assets/css/main.css" rel="stylesheet" />

	</head>

	<body class="{{ page.layout }}">
		<div class="container">

			{% include sidebar.html %}


			{{ content }}

		</div>
	</body>

	<script type="text/javascript" src="{{ site.baseurl }}/assets/js/vue.min.js"></script>
	<script type="text/javascript" src="{{ site.baseurl }}/assets/js/main.js" async></script>
	<script type="text/javascript" src="https://fabgrid.disqus.com/count.js" id="dsq-count-scr" async></script>
</html>
